@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
	font-family: 'ElegantIcons';
	src:url(../fonts/ElegantIcons.eot);
	src:url(../fonts/ElegantIcons.eot?#iefix) format('embedded-opentype'),
		url(../fonts/ElegantIcons.woff) format('woff'),
		url(../fonts/ElegantIcons.ttf) format('truetype'),
		url(../fonts/ElegantIcons.svg#ElegantIcons) format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'ElegantIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//color
$dark: #383838;
$dark-text: #606060;
$light-dark: #7a7a7a;
$light-grey: #8a8a8a;
$white: #e4e4e4;
$white-text: #e3e3e3;
$blue: #00a99d;
$white-smoke: #dedede;

body, div, ul, li, img, h1, h2, h3 ,h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway-Medium';
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway-ExtraBold;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  &--relative {
    position: relative;
  }
  &--flex {
    display: flex;
    flex-wrap: wrap;
  }
  &--full {
    height: 100%;
  }
}

.home {
  height: 750px;
  width: 100%;
  background: url(../img/img_homg_bg.png);
  object-fit: cover;
  background-position: center;
  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    h1 {
      text-transform: uppercase;
      font-size: 64px;
      font-family: Raleway-ExtraBold;
      color: $dark;
      margin-bottom: 5px;
    }
    h5 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      color: $dark;
      font-weight: 100;
      margin-bottom: -8px;
    }
    &-slogan {
      color: $white;
      width: 100%;
      background: $dark;
      padding: 8px 0;
      margin-bottom: 45px;
      text-align: center;
      border: none;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      &__name {
        font-size: 17.22px;
        .blue-text {
          text-transform: uppercase;
          color: $blue;
        }
      }
      &__text {
        margin-left: 5px;
        font-size: 18.23px;
        text-transform: uppercase;
      }
    } // &-slogan
    &__arrow-down {
      margin-top: 40px;
      font-size: 60px;
      color: $blue;
      width: 100%;
      display: flex;
      justify-content: center;
      div {
        cursor: pointer;
      }
    }
  } // &-content
} // .home
.header {
  height: 100px;
  border-bottom: 2px solid $white-smoke;
  &__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-nav {
      display: flex;
      &__item {
        font-size: 13px;
        text-transform: uppercase;
        font-family: Raleway-ExtraBold;
        color: $dark;
        padding: 12px 20px;
        border-radius: 3px;
        border: none;
        margin-right: 8px;
        &--active {
          background: $blue;
          color: $white;
        }
      }
    }
    &__search {
      font-size: 16px;
      color: $blue;
      margin-left: 20px;
      display: flex;
      align-items: center;
    }
  } // .-menu
} // .header

.offer {
  padding: 80px 0 105px;
  &-list {
    margin-top: 45px;
    &-item {
      flex: 1;
      text-align: center;
      &__image {
        width: 100px;
        height: 100px;
        margin: 0 auto 28px;
        // margin-bottom: 28px;
        background: $dark;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        color: $white;
      }
      h4 {
        font-size: 14px;
        font-family: Raleway-ExtraBold;
        color: $dark-text;
        text-transform: uppercase;
        margin-bottom: 14px;
      }
      p {
        font-size: 14px;
        color: $light-dark;
      }
      button {
        font-size: 10px;
        margin-top: 20px;
        text-transform: uppercase;
        font-family: Raleway-ExtraBold;
        color: $light-grey;
        padding: 8px 10px;
        background: transparent;
        border: 1px solid $white-smoke;
        border-radius: 3px;
      }
      &--active {
        .offer-list-item__image {
          background: $blue;
        }
        button {
          background: $blue;
          color: $white-text;
          border-color: $blue;
        }
      }
    } // &-item
  } // &-list
} // .offer

.features {
  height: 620px;
  width: 100%;
  background: $dark;
  &-list {
    // position: absolute;
    // left: 0;
    // top: 0;
    display: block;
    flex: 1;
    margin-top: 90px;
    &-item {
      position: relative;
      margin-bottom: 60px;
      min-height: 75px;
      &__image {
        position: absolute;
        top: 5px;
        left: 0;
        color: $blue;
        font-size: 40px;
      }
      &__content {
        position: absolute;
        top: 0;
        left: 75px;
        max-width: 270px;
        h4 {
          font-size: 14px;
          color: $white;
          font-family: Raleway-ExtraBold;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        p {
          color: $light-dark;
          font-size: 14px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    } // -item
  } // -list
  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
} // .features

.more-features {
  width: 100%;
  // min-height: 480px;
  padding: 80px 0 40px;
  &-item {
    width: 33%;
    position: relative;
    margin-bottom: 60px;
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 70px;
      background: $blue;
      border-radius: 4px 4px 0 0;
      clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
      &__cover {
        width: 40px;
        height: 50px;
        background: $dark;
        border-radius: 4px 4px 0 0;
        clip-path: polygon(0% 0%, 100% 0, 100% 72%, 50% 100%, 0 72%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: $white;
      }
    } // -image
    &-content {
      margin-left: 60px;
      h4 {
        font-size: 14px;
        font-family: Raleway-ExtraBold;
        color: $dark-text;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      span {
        font-size: 12px;
        color: #aaa;
      }
      p {
        color: $light-dark;
        font-size: 14px;
        margin-top: 17px;
      }
    } // -content
  } // -item
} // .more-features

.skills {
  width: 100%;
  min-height: 480px;
  background: $dark;
  &-list {
    width: 100%;
    &-item {
      width: 14.5%;
      margin-right: auto;
      &__circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid $blue;
        color: $white;
        font-size: 16px;
        font-family: Raleway-ExtraBold;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 30px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
} // .skills

.section-icon {
  width: 100%;
  position: relative;
  &-wraper {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 3px;
    color: $white;
    background: $blue;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      transform: rotate(-45deg);
    }
  } // &-wraper
  &--dark-bg {
    .section-icon-wraper {
      background: $dark;
    }
  }
} // .section-icon
.title {
  display: flex;
  text-align: center;
  position: relative;
  h3 {
    text-transform: uppercase;
    font-size: 26px;
    font-family: Raleway-ExtraBold;
    color: $dark;
    display: inline-block;
    text-align: center;
    .blue-text {
      color: $blue;
    }
    .white-text {
      color: $white;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 28px;
      height: 15px;
      margin-right: 20px;
      background: url(../img/ic_arrow_left.png);
    }
    &::after {
      content: "";
      display: inline-block;

      width: 28px;
      height: 15px;
      margin-left: 20px;
      background: url(../img/ic_arrow_right.png);
    }
  } // h3
  p {
    font-size: 16px;
    color: $light-grey;
    margin-top: 12px;
  }
  &::before {
    content: "";
    display: inline-block;
    flex: 1;
    width: 30%;
    height: 4px;
    margin: auto 0;
    border: 1px solid $white-smoke;
    border-width: 1px 0;
    margin-right: 10px;
  }
  &::after {
    content: "";
    display: inline-block;
    flex: 1;
    width: 30%;
    height: 4px;
    margin: auto 0;
    border: 1px solid $white-smoke;
    border-width: 1px 0;
    margin-left: 10px;
  }
  &--no-line {
    display: block;
    h3 {
      margin-top: 70px;
      flex: 1;
    }
    &::before, &::after {
      display: none;
    }
  }
} // .title
.test {
  border: 1px dashed red;
}
