@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'ElegantIcons';
  src: url(../fonts/ElegantIcons.eot);
  src: url(../fonts/ElegantIcons.eot?#iefix) format("embedded-opentype"), url(../fonts/ElegantIcons.woff) format("woff"), url(../fonts/ElegantIcons.ttf) format("truetype"), url(../fonts/ElegantIcons.svg#ElegantIcons) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 22, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 46, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
body, div, ul, li, img, h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

/* line 51, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
body {
  font-family: 'Raleway-Medium';
  font-size: 12px;
}

/* line 56, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Raleway-ExtraBold;
  text-transform: uppercase;
}

/* line 61, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
ul {
  list-style-type: none;
  display: flex;
}

/* line 66, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
a {
  text-decoration: none;
}

/* line 70, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
button:focus {
  outline: none;
}

/* line 74, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* line 77, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.container--relative {
  position: relative;
}

/* line 80, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.container--flex {
  display: flex;
  flex-wrap: wrap;
}

/* line 84, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.container--full {
  height: 100%;
}

/* line 89, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home {
  height: 750px;
  width: 100%;
  background: url(../img/img_homg_bg.png);
  object-fit: cover;
  background-position: center;
}

/* line 95, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* line 100, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-family: Raleway-ExtraBold;
  color: #383838;
  margin-bottom: 5px;
}

/* line 107, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content h5 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #383838;
  font-weight: 100;
  margin-bottom: -8px;
}

/* line 116, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content-slogan {
  color: #e4e4e4;
  width: 100%;
  background: #383838;
  padding: 8px 0;
  margin-bottom: 45px;
  text-align: center;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

/* line 127, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content-slogan__name {
  font-size: 17.22px;
}

/* line 129, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content-slogan__name .blue-text {
  text-transform: uppercase;
  color: #00a99d;
}

/* line 134, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content-slogan__text {
  margin-left: 5px;
  font-size: 18.23px;
  text-transform: uppercase;
}

/* line 140, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content__arrow-down {
  margin-top: -10px;
  font-size: 60px;
  color: #00a99d;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 147, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.home-content__arrow-down div {
  cursor: pointer;
}

/* line 153, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header {
  height: 100px;
  border-bottom: 2px solid #dedede;
}

/* line 156, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header__logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* line 162, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header-menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* line 170, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header-menu-nav {
  display: flex;
}

/* line 172, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header-menu-nav__item {
  font-size: 13px;
  text-transform: uppercase;
  font-family: Raleway-ExtraBold;
  color: #383838;
  padding: 12px 20px;
  border-radius: 3px;
  border: none;
  margin-right: 8px;
}

/* line 181, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header-menu-nav__item--active {
  background: #00a99d;
  color: #e4e4e4;
}

/* line 187, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.header-menu__search {
  font-size: 16px;
  color: #00a99d;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

/* line 197, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer {
  padding: 80px 0 105px;
}

/* line 200, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item {
  flex: 1;
  text-align: center;
}

/* line 203, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item__image {
  width: 100px;
  height: 100px;
  margin: 0 auto 28px;
  background: #383838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #e4e4e4;
}

/* line 216, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item h4 {
  font-size: 14px;
  font-family: Raleway-ExtraBold;
  color: #606060;
  text-transform: uppercase;
  margin-bottom: 14px;
}

/* line 223, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item p {
  font-size: 14px;
  color: #7a7a7a;
}

/* line 227, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item button {
  font-size: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: Raleway-ExtraBold;
  color: #8a8a8a;
  padding: 8px 10px;
  background: transparent;
  border: 1px solid #dedede;
  border-radius: 3px;
}

/* line 239, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item--active .offer-list-item__image {
  background: #00a99d;
}

/* line 242, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.offer-list-item--active button {
  background: #00a99d;
  color: #e3e3e3;
  border-color: #00a99d;
}

/* line 252, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features {
  height: 620px;
  width: 100%;
  background: #383838;
}

/* line 256, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list {
  display: block;
  flex: 1;
  margin-top: 90px;
}

/* line 260, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list-item {
  position: relative;
  margin-bottom: 60px;
  min-height: 75px;
}

/* line 264, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list-item__image {
  position: absolute;
  top: 5px;
  left: 0;
  color: #00a99d;
  font-size: 40px;
}

/* line 271, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list-item__content {
  position: absolute;
  top: 0;
  left: 75px;
  max-width: 270px;
}

/* line 276, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list-item__content h4 {
  font-size: 14px;
  color: #e4e4e4;
  font-family: Raleway-ExtraBold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 283, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list-item__content p {
  color: #7a7a7a;
  font-size: 14px;
}

/* line 288, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features-list-item:last-child {
  margin-bottom: 0;
}

/* line 293, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.features__image {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

/* line 301, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features {
  width: 100%;
  padding: 80px 0 40px;
}

/* line 305, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item {
  width: 33%;
  position: relative;
  margin-bottom: 60px;
  cursor: context-menu;
}

/* line 310, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 70px;
  background: #00a99d;
  transition: 0.3s color;
  border-radius: 4px 4px 0 0;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

/* line 320, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item-image__cover {
  width: 40px;
  height: 50px;
  background: #383838;
  transition: 0.3s color;
  border-radius: 4px 4px 0 0;
  clip-path: polygon(0% 0%, 100% 0, 100% 72%, 50% 100%, 0 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #e4e4e4;
}

/* line 334, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item-content {
  margin-left: 60px;
}

/* line 336, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item-content h4 {
  font-size: 14px;
  font-family: Raleway-ExtraBold;
  color: #606060;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* line 343, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item-content span {
  font-size: 12px;
  color: #aaa;
}

/* line 347, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item-content p {
  color: #7a7a7a;
  font-size: 14px;
  margin-top: 17px;
}

/* line 354, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item:hover .more-features-item-image, .more-features-item--active .more-features-item-image {
  background: #383838;
}

/* line 356, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.more-features-item:hover .more-features-item-image__cover, .more-features-item--active .more-features-item-image__cover {
  background: #00a99d;
}

/* line 364, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills {
  width: 100%;
  padding-bottom: 70px;
  background: #383838;
}

/* line 368, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills-list {
  width: 100%;
}

/* line 370, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills-list-item {
  width: 14.5%;
  margin-right: auto;
  text-align: center;
}

/* line 374, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills-list-item__circle {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #00a99d;
  color: #e4e4e4;
  font-size: 16px;
  font-family: Raleway-ExtraBold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 387, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills-list-item__circle span {
  font-size: 30px;
}

/* line 391, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills-list-item h4 {
  margin-top: 20px;
  font-size: 14px;
  color: #8a8a8a;
}

/* line 396, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.skills-list-item:last-child {
  margin-right: 0;
}

/* line 403, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work {
  width: 100%;
  padding: 75px 0 105px;
}

/* line 406, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
  box-sizing: border-box;
}

/* line 412, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item {
  width: 16.66%;
  padding: 1px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
}

@media screen and (max-width: 1360px) {
  /* line 412, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
  .work-list-item {
    width: 25%;
  }
}

/* line 422, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item:hover .work-list-item-wraper__overlay {
  opacity: 1;
}

/* line 426, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item:hover .work-list-item-wraper img {
  transform: scale(1.1);
}

/* line 431, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper {
  height: 13vw;
  border-radius: 4px;
  background: grey;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 438, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper img {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: 1;
  transition: 0.5s all;
}

/* line 449, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 4px;
  background: rgba(28, 163, 153, 0.8);
  z-index: 9;
  transition: 0.3s all;
}

/* line 461, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper__content {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 469, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper-socials {
  margin-bottom: 40px;
  justify-content: center;
}

/* line 472, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper-socials__icon {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: #e4e4e4;
  font-size: 16px;
  color: #00a99d;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s color;
}

/* line 485, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper-socials__icon div {
  transform: rotate(-45deg);
}

/* line 488, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper-socials__icon:hover {
  background: #383838;
  color: #e4e4e4;
  z-index: 99;
}

/* line 495, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper h3 {
  margin-bottom: 10px;
  text-transform: none;
  color: #e4e4e4;
}

/* line 500, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper p {
  margin-bottom: 20px;
  color: #e4e4e4;
}

/* line 504, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper__rate {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #e4e4e4;
}

/* line 510, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work-list-item-wraper__rate span {
  margin-left: 5px;
}

/* line 517, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.work__button {
  width: 100%;
  padding: 15px 0;
  background: #00a99d;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Raleway-ExtraBold;
  border-radius: 3px;
  margin-top: 50px;
  border: none;
  color: #e4e4e4;
  cursor: pointer;
}

/* line 532, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact {
  width: 100%;
  background: #383838;
  padding-bottom: 90px;
}

/* line 536, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list {
  margin: -13px -15px 0;
}

/* line 538, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item {
  width: 25%;
  min-height: 130px;
  padding: 0 15px;
  cursor: context-menu;
  text-align: center;
}

/* line 546, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item--active h1::before, .fact-list-item--active h1::after, .fact-list-item:hover h1::before, .fact-list-item:hover h1::after {
  background: #00a99d;
}

/* line 551, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item h1 {
  font-size: 80px;
  color: #e4e4e4;
  font-family: Raleway-Medium;
  font-style: italic;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 560, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item h1::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  border-radius: 2px;
  background: #484848;
  margin-right: 20px;
  transition: 0.3s color;
}

/* line 571, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item h1::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  border-radius: 2px;
  background: #484848;
  margin-left: 20px;
  transition: 0.3s color;
}

/* line 583, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item__icon {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #00a99d;
}

/* line 589, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item__icon::before {
  content: "";
  display: inline-block;
  flex: 1;
  height: 1px;
  background: #484848;
  margin-right: 10px;
}

/* line 598, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item__icon::after {
  content: "";
  display: inline-block;
  flex: 1;
  height: 1px;
  background: #484848;
  margin-left: 10px;
}

/* line 608, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.fact-list-item h3 {
  margin-top: 15px;
  color: #606060;
  font-size: 14px;
}

/* line 617, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.sactisfie {
  height: 80px;
  width: 100%;
  background: #00a99d;
}

/* line 621, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.sactisfie h3 {
  position: absolute;
  font-size: 16px;
  color: #e4e4e4;
  top: 50%;
  transform: translateY(-50%);
}

/* line 628, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.sactisfie__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 633, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.sactisfie__button button {
  text-transform: uppercase;
  font-size: 13px;
  color: #606060;
  font-family: Raleway-ExtraBold;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background: #e4e4e4;
  margin-left: 10px;
  cursor: pointer;
}

/* line 648, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members {
  width: 100%;
  padding: 75px 0 105px;
}

/* line 651, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list {
  margin: 0 -15px;
}

/* line 653, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item {
  width: 25%;
  min-height: 100px;
  padding: 15px;
}

/* line 658, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item__wraper {
  height: 100%;
}

/* line 662, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image {
  position: relative;
  width: 100%;
  height: 270px;
  background: #8a8a8a;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 670, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  transition: 0.5s all;
}

/* line 680, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image__overlay {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  background: rgba(28, 163, 153, 0.8);
  opacity: 0;
  transition: 0.3s all;
}

/* line 692, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image-socials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* line 698, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image-socials__icon {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: #e4e4e4;
  font-size: 16px;
  color: #00a99d;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s color;
}

/* line 711, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image-socials__icon div {
  transform: rotate(-45deg);
}

/* line 714, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-image-socials__icon:hover {
  background: #383838;
  color: #e4e4e4;
  z-index: 99;
}

/* line 722, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail {
  min-height: 140px;
  border: 1px solid #dedede;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 4px 4px;
  text-align: center;
}

/* line 728, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail__name {
  position: relative;
}

/* line 730, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail__name h4 {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #e4e4e4;
  padding: 12px 15px;
  background: #00a99d;
  border-radius: 4px;
  transition: 0.3s color;
}

/* line 744, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail__job {
  padding: 35px 0 15px;
  font-size: 12px;
  color: #606060;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
}

/* line 751, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail__contact {
  margin-top: 15px;
  color: #aaa;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}

/* line 758, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail__contact div {
  font-size: 14px;
  margin-right: 15px;
}

/* line 762, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item-detail__contact span {
  font-size: 12px;
}

/* line 768, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item:hover .members-list-item-image__overlay {
  opacity: 1;
}

/* line 772, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item:hover .members-list-item-detail__contact--email span {
  color: #00a99d;
}

/* line 777, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item:hover .members-list-item-detail__name h4 {
  background: #383838;
}

/* line 782, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.members-list-item:hover .members-list-item-image img {
  transform: scale(1.1);
}

/* line 791, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote {
  background: #00a99d;
  padding: 0 0 50px;
  text-align: center;
}

/* line 796, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote__content {
  font-size: 20px;
  color: #e4e4e4;
  text-align: center;
}

/* line 801, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote__open {
  margin-right: 10px;
}

/* line 804, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote__close {
  margin-left: 10px;
}

/* line 807, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-author {
  padding-top: 70px;
  display: inline-block;
}

/* line 810, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-author__wraper {
  text-align: center;
  padding: 12px 15px;
  background: #e4e4e4;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
}

/* line 818, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-author__name {
  font-size: 13px;
  color: #00a99d;
  font-family: Raleway-ExtraBold;
  text-transform: uppercase;
}

/* line 824, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-author__job {
  font-size: 12px;
  color: #aaa;
  font-family: Raleway-Medium;
  text-transform: none;
}

/* line 832, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-arrow {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* line 837, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-arrow__icon {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #383838;
  color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  cursor: pointer;
}

/* line 848, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.quote-arrow__icon:hover, .quote-arrow__icon--active {
  background: #e4e4e4;
  color: #00a99d;
}

/* line 856, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients {
  background: #383838;
  width: 100%;
  padding: 45px 0;
}

/* line 860, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients-list {
  margin: 0 -15px;
}

/* line 862, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients-list-item {
  padding: 15px;
  width: 25%;
}

/* line 865, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients-list-item__wraper {
  width: 100%;
  height: 160px;
  border-radius: 4px;
  background: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  cursor: pointer;
}

/* line 875, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients-list-item__wraper img {
  opacity: 0.2;
}

/* line 878, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients-list-item__wraper:hover {
  background: #333;
}

/* line 880, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients-list-item__wraper:hover img {
  opacity: 1;
}

/* line 887, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a99d;
  cursor: pointer;
  transition: 0.3s color;
}

/* line 901, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients__arrow--left {
  left: -60px;
}

/* line 904, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients__arrow--right {
  right: -60px;
}

/* line 907, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.clients__arrow:hover {
  background: #00a99d;
  color: #e4e4e4;
}

/* line 914, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price {
  padding: 75px 0 84px;
  background: #f9f9f9;
}

/* line 918, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list {
  margin: 0 -15px;
}

/* line 920, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item {
  padding: 15px;
  width: 25%;
  text-align: center;
}

/* line 926, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item:hover .price-list-item__title h4 {
  background: #00a99d;
}

/* line 929, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item:hover .price-list-item__title div {
  color: #e4e4e4;
}

/* line 934, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-wraper {
  padding: 0 20px 25px;
  box-sizing: border-box;
  border: 1px solid #dedede;
  border-radius: 4px;
}

/* line 940, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item__top {
  position: relative;
  width: 100%;
}

/* line 944, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item__title {
  transform: translateY(-50%);
}

/* line 947, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item__title h4 {
  padding: 12px 15px;
  border-radius: 4px;
  background: #383838;
  font-size: 13px;
  color: #e4e4e4;
  display: inline-block;
  transition: 0.5s color;
  margin: 0 5px;
}

/* line 957, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item__title div {
  display: inline-block;
  font-size: 16px;
  color: #00a99d;
}

/* line 963, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item__title .begin {
  padding-right: 8px;
}

/* line 966, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item__title .end {
  margin-left: 8px;
}

/* line 970, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-mark {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-top: 30px;
}

/* line 975, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-mark__number {
  position: relative;
}

/* line 977, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-mark__number h1 {
  font-size: 60px;
  color: #383838;
}

/* line 980, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-mark__number h1::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 6px;
  transform: rotate(45deg);
  background: #383838;
  border-radius: 3px;
}

/* line 991, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-mark__number h4 {
  position: absolute;
  top: 10px;
  right: 0;
  transform: translateX(50%);
  font-size: 16px;
  color: #383838;
}

/* line 1000, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-mark span {
  display: flex;
  align-items: flex-end;
  font-family: Raleway-Medium;
  font-size: 12px;
  color: #8a8a8a;
  margin: 0 12px;
  padding-bottom: 10px;
}

/* line 1010, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-something {
  margin: 25px 0;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border: 1px solid #ebebeb;
  border-width: 1px 0;
}

/* line 1018, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-something__item {
  margin-bottom: 20px;
  font-size: 14px;
  color: #8a8a8a;
}

/* line 1022, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item-something__item:last-child {
  margin-bottom: 0;
}

/* line 1028, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.price-list-item button {
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  background: #00a99d;
  color: #e4e4e4;
  font-size: 13px;
  font-family: Raleway-ExtraBold;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 1043, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.bubble {
  width: 100%;
  background: #8a8a8a;
  height: 170px;
}

/* line 1047, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.bubble h2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  font-size: 26px;
  color: #383838;
  text-transform: none;
}

/* line 1056, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.bubble h2 div {
  color: #00a99d;
  font-size: 20px;
}

/* line 1061, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.bubble button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #00a99d;
  display: flex;
  color: #e4e4e4;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* line 1073, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.bubble button h4 {
  font-size: 13px;
}

/* line 1076, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.bubble button div {
  margin-left: 15px;
}

/* line 1083, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-top {
  padding: 50px 0 80px;
  background: #383838;
}

/* line 1086, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-top__logo {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
}

/* line 1091, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-top-socials {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 1095, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-top-socials__item {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  box-sizing: border-box;
  border: 1px solid #606060;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #e4e4e4;
  cursor: pointer;
  transition: 0.3s color;
}

/* line 1109, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-top-socials__item:hover {
  background: #00a99d;
  border-color: #00a99d;
}

/* line 1117, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map {
  width: 100%;
  height: 500px;
  background-image: url("../img/img_map.png");
  background-position: center;
}

/* line 1122, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map-contact {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #f9f9f9;
  border-radius: 4px;
  padding: 20px;
}

/* line 1130, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map-contact input {
  display: block;
  width: 300px;
  padding: 14px 18px;
  border: 1px solid #dedede;
  border-radius: 4px;
  font-size: 12px;
  color: #606060;
  margin-bottom: 20px;
}

/* line 1140, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map-contact input::placeholder {
  color: #aaa;
  font-style: italic;
}

/* line 1145, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map-contact textarea {
  display: block;
  width: 300px;
  padding: 14px 18px;
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #606060;
  margin-bottom: 20px;
  font-size: 12px;
}

/* line 1154, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map-contact textarea::placeholder {
  font-style: italic;
  color: #aaa;
  font-family: Raleway-Medium;
}

/* line 1160, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer-map-contact button {
  width: 100%;
  padding: 15px 0;
  font-family: Raleway-ExtraBold;
  color: #e4e4e4;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  background: #00a99d;
  border-radius: 4px;
  cursor: pointer;
}

/* line 1175, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer__copyright {
  height: 100px;
  background: #333;
  text-align: center;
}

/* line 1179, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.footer__copyright p {
  padding-top: 55px;
  font-size: 14px;
  font-family: Raleway-ExtraBold;
  color: #e4e4e4;
}

/* line 1188, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.section-icon {
  width: 100%;
  position: relative;
}

/* line 1191, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.section-icon-wraper {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  color: #e4e4e4;
  background: #00a99d;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 1205, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.section-icon-wraper div {
  transform: rotate(-45deg);
}

/* line 1210, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.section-icon--dark-bg .section-icon-wraper {
  background: #383838;
}

/* line 1216, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title {
  flex: 1;
  text-align: center;
  margin-bottom: 50px;
}

/* line 1220, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text {
  display: flex;
  text-align: center;
  position: relative;
}

/* line 1224, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text__blue {
  color: #00a99d;
}

/* line 1227, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text__white {
  color: #e4e4e4;
}

/* line 1230, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text h3 {
  text-transform: uppercase;
  font-size: 26px;
  font-family: Raleway-ExtraBold;
  color: #383838;
  display: inline-block;
  text-align: center;
}

/* line 1237, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text h3::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 15px;
  margin-right: 20px;
  background: url(../img/ic_arrow_left.png);
}

/* line 1245, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text h3::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 15px;
  margin-left: 20px;
  background: url(../img/ic_arrow_right.png);
}

/* line 1254, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text::before {
  content: "";
  display: inline-block;
  flex: 1;
  width: 30%;
  height: 4px;
  margin: auto 0;
  border: 1px solid #dedede;
  border-width: 1px 0;
  margin-right: 10px;
}

/* line 1265, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title-text::after {
  content: "";
  display: inline-block;
  flex: 1;
  width: 30%;
  height: 4px;
  margin: auto 0;
  border: 1px solid #dedede;
  border-width: 1px 0;
  margin-left: 10px;
}

/* line 1277, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title p {
  font-size: 16px;
  color: #8a8a8a;
  margin-top: 12px;
}

/* line 1284, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title--no-line .title-text::before, .title--no-line .title-text::after {
  display: none;
}

/* line 1287, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.title--no-line .title-text h3 {
  margin-top: 70px;
  flex: 1;
}

/* line 1295, D:/Work/VietIS/HTML/html-startup/Startup/scss/style.scss */
.test {
  border: 1px dashed red;
}

/*# sourceMappingURL=../css/style.map */